{% extends 'base.html.twig' %}
{% block title %}Modifier le mot de passe
{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe</h1>
	<a href="{{ path('app_account') }}" class="mr-3">Retourner à mon compte</a><br>

	<hr>
	{% if notification %}

		<div class="alert alert-info">{{ notification }}</div>

	{% endif %}

	{{ form(form) }}
		<hr class="featurette-divider">


	{% endblock %}
